* {
    text-align: center;
}

nav {
    margin-bottom: 2em;
}

#omg-text {
    margin-bottom: 1em;
}

#dice-buttons {
    margin-bottom: 2em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loser {
    font-size: 10em;
}

.post-div {
    width: 80%;
    max-width: 800px;
    min-width: 550px;
    border: 1px solid lightgray;
    border-radius: 2em;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 4em !important;
}

.jumbotron-fluid {
    margin-bottom: 0;
    padding: 2em;
}